<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"

       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <context:component-scan base-package="com.cmbchina"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" >
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"></constructor-arg>
            </bean>
            <!--<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"></bean>-->
            <!--TODO-->
            <bean class="com.cmbchina.activity.tran.support.mvc.TranFastJsonHttpMessageConverter"></bean>

            <!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
                <!--<property name="objectMapper">-->
                    <!--<bean class="com.fasterxml.jackson.databind.ObjectMapper">-->
                        <!--<property name="dateFormat">-->
                        <!--<bean class="java.text.SimpleDateFormat">-->
                                <!--<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>-->
                            <!--</bean>-->
                        <!--</property>-->
                    <!--</bean>-->
                <!--</property>-->
            <!--</bean>-->
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:view-controller path="/" view-name="common/index"/>

    <!--<bean id="exceptionHandler" class="com.cmbchina.activity.tran.support.mvc.CommonExceptionHandler"/>-->
    <bean id="contentNegotiationManager"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="ignoreAcceptHeader" value="true"/>
        <property name="defaultContentType" value="application/json"/>
        <property name="mediaTypes">
            <value>
                json=application/json
                xml=application/xml
            </value>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/page/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
    </bean>

    <dubbo:application name="busi-activity-service-consumer" owner="O2O-developer"
                       organization="cmbchina"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--<dubbo:registry address="zookeeper://192.168.20.3:2181"/>-->
    <dubbo:protocol name="dubbo" serialization="kryo"/>

    <dubbo:annotation package="com.cmbchina.activity.tran.restful.*"/>

    <dubbo:reference id="activityService"
                     interface="com.cmbchina.activity.busi.act.service.ActivityService"/>
    <dubbo:reference id="authorityService"
                     interface="com.cmbchina.activity.busi.common.service.AuthorityService"/>
    <dubbo:reference id="comAreaService"
                     interface="com.cmbchina.activity.busi.common.service.ComAreaService"/>
    <dubbo:reference id="comDepartmentService"
                     interface="com.cmbchina.activity.busi.common.service.ComDepartmentService"/>
    <dubbo:reference id="comUserService"
                     interface="com.cmbchina.activity.busi.common.service.ComUserService"/>
    <dubbo:reference id="comMessageService"
                     interface="com.cmbchina.activity.busi.common.service.ComMessageService"/>
    <dubbo:reference id="customerService"
                     interface="com.cmbchina.activity.busi.common.service.CustomerService"/>
    <dubbo:reference id="externalQualificationService"
                     interface="com.cmbchina.activity.busi.external.service.ExternalQualificationService"/>
    <dubbo:reference id="externalProductService"
                     interface="com.cmbchina.activity.busi.external.service.ExternalProductService"/>

    <context:component-scan base-package="com.cmbchina.activity.tran.*"/>
</beans>
